<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard - Task Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to my flask demo, {{ username }}</h1>
        <nav>
            <a href="#">Change Password</a>
            <a href="#">Task Performed</a>
            <a href="#">Task Assigned</a>
            <a href="#">Reports Task Performed</a>
            <a href="#">Reports Task Assigned</a>
            <a href="#">Logout</a>
        </nav>
    </div>
</body>
</html>
